<ul class="navbar-nav">
    <AuthorizeView>
        <Authorized>
            <li class="nav-item">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <i class="bi bi-speedometer2 me-1"></i> Dashboard
                </NavLink>
            </li>

            <AuthorizeView Roles="Admin" Context="adminContext">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-gear-fill me-1"></i> Administration
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li>
                            <a class="dropdown-item" href="classes">
                                <i class="bi bi-building me-2"></i> Manage Classes
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="students">
                                <i class="bi bi-people me-2"></i> Manage Students
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="teachers">
                                <i class="bi bi-person-badge me-2"></i> Manage Teachers
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="subjects">
                                <i class="bi bi-book me-2"></i> Manage Subjects
                            </a>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <a class="dropdown-item" href="grades">
                                <i class="bi bi-graph-up me-2"></i> View Grades
                            </a>
                        </li>
                    </ul>
                </li>
            </AuthorizeView>

            <AuthorizeView Roles="Teacher" Context="teacherContext">
                <li class="nav-item">
                    <NavLink class="nav-link" href="grades">
                        <i class="bi bi-clipboard-data me-1"></i> Grades
                    </NavLink>
                </li>
            </AuthorizeView>

            <AuthorizeView Roles="Student" Context="studentContext">
                <li class="nav-item">
                    <NavLink class="nav-link" href="my-profile">
                        <i class="bi bi-person-circle me-1"></i> My Profile
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="my-grades">
                        <i class="bi bi-journal-check me-1"></i> My Grades
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="teachers-list">
                        <i class="bi bi-people me-1"></i> Teachers
                    </NavLink>
                </li>
            </AuthorizeView>

            <AuthorizeView Roles="Teacher,Student,Admin" Context="allContext">
                <li class="nav-item">
                    <NavLink class="nav-link" href="messages">
                        <i class="bi bi-envelope me-1"></i> Messages
                    </NavLink>
                </li>
            </AuthorizeView>
        </Authorized>
    </AuthorizeView>
</ul>
