<div class="nav-scrollable">
    <ul class="nav flex-column px-2">
        <AuthorizeView>
            <Authorized>
                <li class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <i class="bi bi-grid-1x2-fill"></i>
                        <span>Dashboard</span>
                    </NavLink>
                </li>

                <AuthorizeView Roles="Admin" Context="adminContext">
                    <li class="nav-item mt-3">
                        <div class="sidebar-heading">Administration</div>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="classes">
                            <i class="bi bi-building"></i> 
                            <span>Classes</span>
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="students">
                            <i class="bi bi-people"></i> 
                            <span>Students</span>
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="teachers">
                            <i class="bi bi-person-badge"></i> 
                            <span>Teachers</span>
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="subjects">
                            <i class="bi bi-book"></i> 
                            <span>Subjects</span>
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="grades">
                            <i class="bi bi-graph-up"></i> 
                            <span>All Grades</span>
                        </NavLink>
                    </li>
                </AuthorizeView>

                <AuthorizeView Roles="Teacher" Context="teacherContext">
                    <li class="nav-item mt-3">
                        <div class="sidebar-heading">Academics</div>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="grades">
                            <i class="bi bi-clipboard-data"></i> 
                            <span>Manage Grades</span>
                        </NavLink>
                    </li>
                </AuthorizeView>

                <AuthorizeView Roles="Student" Context="studentContext">
                    <li class="nav-item mt-3">
                        <div class="sidebar-heading">My School</div>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="my-profile">
                            <i class="bi bi-person-circle"></i> 
                            <span>My Profile</span>
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="my-grades">
                            <i class="bi bi-journal-check"></i> 
                            <span>My Grades</span>
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="teachers-list">
                            <i class="bi bi-people"></i> 
                            <span>My Teachers</span>
                        </NavLink>
                    </li>
                </AuthorizeView>

                <AuthorizeView Roles="Teacher,Student,Admin" Context="allContext">
                    <li class="nav-item mt-4">
                        <div class="sidebar-heading">Communication</div>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="messages">
                            <i class="bi bi-chat-dots"></i>
                            <span>Messages</span>
                        </NavLink>
                    </li>
                </AuthorizeView>
            </Authorized>
        </AuthorizeView>
    </ul>
</div>
